.navbar {
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__button{
        display: none;
        background-color: red;
    }
}

.logo {
    height: 50px;
    margin-left: 10px;
}


.list {
    text-decoration: underline;
    list-style-type: none;
    display: flex;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .navbar{
        &__button{
            display: block;
        }
    }

   .list {
     display: none;
   }
}
